openapi: 3.2.0
info:
  title: Lean Data Refreshes API
  description: 'Raw bank-account data retrieval (v2). After a customer has granted an Account Information consent through the LinkSDK and Lean has provisioned an entity, the Data API exposes accounts, transactions, balances, beneficiaries, direct debits, standing orders, scheduled payments, and identity. Includes endpoints to trigger and inspect manual data refreshes.

    '
  version: '2.0'
  contact:
    name: Lean Support
    url: https://help.leantech.me
servers:
- url: https://api2.leantech.me
  description: Production
- url: https://sandbox.ae.leantech.me
  description: Sandbox - UAE
- url: https://sandbox.sa.leantech.me
  description: Sandbox - KSA
security:
- BearerAuth: []
tags:
- name: Refreshes
paths:
  /data/v2/refreshes:
    post:
      summary: Lean Trigger Manual Data Refresh
      operationId: triggerDataRefresh
      tags:
      - Refreshes
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '202':
          description: Refresh triggered
    get:
      summary: Lean Get Data Refreshes
      operationId: getDataRefreshes
      tags:
      - Refreshes
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Refreshes
  /data/v2/refreshes/{refresh_id}:
    get:
      summary: Lean Get Data Refresh Status
      operationId: getDataRefreshStatus
      tags:
      - Refreshes
      parameters:
      - name: refresh_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Refresh status
components:
  parameters:
    EntityIdHeader:
      name: entity_id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Lean entity identifier returned after a successful LinkSDK consent.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
