openapi: 3.1.0
info:
  title: Lean Authentication Account on File Name Verification API
  description: 'OAuth 2.0 client-credentials token issuance for Lean APIs. Generates two classes of JWT access token: (1) scope=api for server-to-server backend calls, and (2) scope=customer.<customer_id> for the LinkSDK to act on behalf of an end-user. All tokens must be generated from a secure backend using credentials issued in the Lean Application Dashboard.

    '
  version: '1.0'
  contact:
    name: Lean Support
    url: https://help.leantech.me
  license:
    name: Lean Terms of Service
    url: https://www.leantech.me
servers:
- url: https://auth.leantech.me
  description: Production
- url: https://auth.sandbox.ae.leantech.me
  description: Sandbox - UAE
- url: https://auth.sandbox.sa.leantech.me
  description: Sandbox - KSA
tags:
- name: Name Verification
paths:
  /insights/v1/name-verification:
    post:
      summary: Lean Verify Name
      description: 'Compare a supplied account-holder name against the canonical name held by the receiving bank to perform Confirmation of Payee.

        '
      operationId: verifyName
      tags:
      - Name Verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - account
              properties:
                name:
                  type: string
                account:
                  type: object
                  properties:
                    iban:
                      type: string
                    account_number:
                      type: string
                    country:
                      type: string
      responses:
        '200':
          description: Name verification result
