openapi: 3.1.0
info:
  title: Lean Authentication Account on File API
  description: 'OAuth 2.0 client-credentials token issuance for Lean APIs. Generates two classes of JWT access token: (1) scope=api for server-to-server backend calls, and (2) scope=customer.<customer_id> for the LinkSDK to act on behalf of an end-user. All tokens must be generated from a secure backend using credentials issued in the Lean Application Dashboard.

    '
  version: '1.0'
  contact:
    name: Lean Support
    url: https://help.leantech.me
  license:
    name: Lean Terms of Service
    url: https://www.leantech.me
servers:
- url: https://auth.leantech.me
  description: Production
- url: https://auth.sandbox.ae.leantech.me
  description: Sandbox - UAE
- url: https://auth.sandbox.sa.leantech.me
  description: Sandbox - KSA
tags:
- name: Account on File
paths:
  /payments/account-on-file:
    post:
      summary: Lean Initiate Aof Payment
      operationId: initiateAofPayment
      tags:
      - Account on File
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consent_id:
                  type: string
                  format: uuid
                amount:
                  type: number
                currency:
                  type: string
                description:
                  type: string
                reference:
                  type: string
      responses:
        '201':
          description: AOF payment initiated
