openapi: 3.2.0
info:
  title: Lean Data Transactions API
  description: 'Raw bank-account data retrieval (v2). After a customer has granted an Account Information consent through the LinkSDK and Lean has provisioned an entity, the Data API exposes accounts, transactions, balances, beneficiaries, direct debits, standing orders, scheduled payments, and identity. Includes endpoints to trigger and inspect manual data refreshes.

    '
  version: '2.0'
  contact:
    name: Lean Support
    url: https://help.leantech.me
servers:
- url: https://api2.leantech.me
  description: Production
- url: https://sandbox.ae.leantech.me
  description: Sandbox - UAE
- url: https://sandbox.sa.leantech.me
  description: Sandbox - KSA
security:
- BearerAuth: []
tags:
- name: Transactions
paths:
  /data/v2/accounts/{account_id}/transactions:
    get:
      summary: Lean Get Transactions
      operationId: getTransactions
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/EntityIdHeader'
      - name: start_date
        in: query
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
    EntityIdHeader:
      name: entity_id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Lean entity identifier returned after a successful LinkSDK consent.
  schemas:
    Transaction:
      type: object
      properties:
        id:
          type: string
        amount:
          type: object
          properties:
            amount:
              type: number
            currency:
              type: string
        timestamp:
          type: string
          format: date-time
        description:
          type: string
        credit_debit_indicator:
          type: string
          enum:
          - CREDIT
          - DEBIT
        booking_status:
          type: string
          enum:
          - BOOKED
          - PENDING
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
