openapi: 3.2.0
info:
  title: Lean Payouts Payout Destinations API
  description: 'Initiate outbound bank-to-bank payouts from corporate accounts to consumer or business beneficiaries. Manage payout destinations (beneficiary records), create payout payments, list payouts, retrieve payout intents, and pull per-payment history.

    '
  version: '1.0'
  contact:
    name: Lean Support
    url: https://help.leantech.me
servers:
- url: https://api2.leantech.me
  description: Production
security:
- BearerAuth: []
tags:
- name: Payout Destinations
paths:
  /payouts/v1/payment/destinations:
    post:
      summary: Lean Create Payout Destination
      operationId: createPayoutDestination
      tags:
      - Payout Destinations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutDestinationRequest'
      responses:
        '201':
          description: Destination created
    get:
      summary: Lean List Payout Destinations
      operationId: listPayoutDestinations
      tags:
      - Payout Destinations
      responses:
        '200':
          description: Destinations
  /payouts/v1/payment/destinations/{destination_id}:
    get:
      summary: Lean Get Payout Destination
      operationId: getPayoutDestination
      tags:
      - Payout Destinations
      parameters:
      - name: destination_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Destination
components:
  schemas:
    PayoutDestinationRequest:
      type: object
      required:
      - beneficiary_name
      properties:
        beneficiary_name:
          type: string
        iban:
          type: string
        account_number:
          type: string
        bank_code:
          type: string
        country:
          type: string
        currency:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
