openapi: 3.1.0
info:
  title: Lean Authentication Account on File Entities API
  description: 'OAuth 2.0 client-credentials token issuance for Lean APIs. Generates two classes of JWT access token: (1) scope=api for server-to-server backend calls, and (2) scope=customer.<customer_id> for the LinkSDK to act on behalf of an end-user. All tokens must be generated from a secure backend using credentials issued in the Lean Application Dashboard.

    '
  version: '1.0'
  contact:
    name: Lean Support
    url: https://help.leantech.me
  license:
    name: Lean Terms of Service
    url: https://www.leantech.me
servers:
- url: https://auth.leantech.me
  description: Production
- url: https://auth.sandbox.ae.leantech.me
  description: Sandbox - UAE
- url: https://auth.sandbox.sa.leantech.me
  description: Sandbox - KSA
tags:
- name: Entities
paths:
  /customers/v1/{customer_id}/entities:
    get:
      summary: Lean Get Entities For Customer
      operationId: getEntitiesForCustomer
      tags:
      - Entities
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      responses:
        '200':
          description: Entities for customer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'
  /customers/v1/{customer_id}/entities/{entity_id}:
    get:
      summary: Lean Get Entity By Id
      operationId: getEntityById
      tags:
      - Entities
      parameters:
      - $ref: '#/components/parameters/CustomerId'
      - name: entity_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
  /customers/v1/entities:
    get:
      summary: Lean Retrieve All Entities For Date Range
      operationId: retrieveEntitiesForDateRange
      tags:
      - Entities
      parameters:
      - name: start_date
        in: query
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Entities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'
components:
  parameters:
    CustomerId:
      name: customer_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  schemas:
    Entity:
      type: object
      properties:
        id:
          type: string
          format: uuid
        customer_id:
          type: string
          format: uuid
        bank_identifier:
          type: string
        permissions:
          type: array
          items:
            type: string
            enum:
            - accounts
            - balance
            - transactions
            - identity
            - direct_debits
            - standing_orders
            - scheduled_payments
            - beneficiaries
        created_at:
          type: string
          format: date-time
