openapi: 3.2.0
info:
  title: Lean Payments Consents API
  description: 'Pay by Bank single instant payment initiation, Account-on-File (AOF) payment initiation, and consent management. Supports creating payment intents, retrieving payments by intent or payment id, listing intents, and managing long-lived AOF consents with balance and history endpoints.

    '
  version: '1.0'
  contact:
    name: Lean Support
    url: https://help.leantech.me
servers:
- url: https://api2.leantech.me
  description: Production
security:
- BearerAuth: []
tags:
- name: Consents
paths:
  /consents/account-on-file:
    post:
      summary: Lean Create Aof Consent
      operationId: createAofConsent
      tags:
      - Consents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  type: string
                  format: uuid
                bank_identifier:
                  type: string
                max_amount:
                  type: number
                currency:
                  type: string
                expires_at:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Consent created
  /consents/v1:
    get:
      summary: Lean List Customer Consents
      operationId: listCustomerConsents
      tags:
      - Consents
      parameters:
      - name: customer_id
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Consents
  /consents/{consent_id}:
    get:
      summary: Lean Get Consent Details
      operationId: getConsentDetails
      tags:
      - Consents
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      responses:
        '200':
          description: Consent
  /consents/{consent_id}/balance:
    get:
      summary: Lean Fetch Consent Balance
      operationId: fetchConsentBalance
      tags:
      - Consents
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      responses:
        '200':
          description: Consent balance
  /consents/{consent_id}/history:
    get:
      summary: Lean Get Consent History
      operationId: getConsentHistory
      tags:
      - Consents
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      responses:
        '200':
          description: Consent history
components:
  parameters:
    ConsentId:
      name: consent_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
