openapi: 3.2.0
info:
  title: Lean Verifications Name Verification API
  description: 'Account Verification confirms ownership and validity of a bank account by IBAN or local account number across 27+ countries in the MENA region, Europe, the Americas, Asia, and Africa. Name Verification compares a supplied name against the registered payee record. Used for fraud reduction, payout pre-checks, and Confirmation of Payee.

    '
  version: '1.0'
  contact:
    name: Lean Support
    url: https://help.leantech.me
servers:
- url: https://api2.leantech.me
  description: Production
security:
- BearerAuth: []
tags:
- name: Name Verification
paths:
  /insights/v1/name-verification:
    post:
      summary: Lean Verify Name
      description: 'Compare a supplied account-holder name against the canonical name held by the receiving bank to perform Confirmation of Payee.

        '
      operationId: verifyName
      tags:
      - Name Verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - account
              properties:
                name:
                  type: string
                account:
                  type: object
                  properties:
                    iban:
                      type: string
                    account_number:
                      type: string
                    country:
                      type: string
      responses:
        '200':
          description: Name verification result
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
