openapi: 3.2.0
info:
  title: Lean Data Accounts API
  description: 'Raw bank-account data retrieval (v2). After a customer has granted an Account Information consent through the LinkSDK and Lean has provisioned an entity, the Data API exposes accounts, transactions, balances, beneficiaries, direct debits, standing orders, scheduled payments, and identity. Includes endpoints to trigger and inspect manual data refreshes.

    '
  version: '2.0'
  contact:
    name: Lean Support
    url: https://help.leantech.me
servers:
- url: https://api2.leantech.me
  description: Production
- url: https://sandbox.ae.leantech.me
  description: Sandbox - UAE
- url: https://sandbox.sa.leantech.me
  description: Sandbox - KSA
security:
- BearerAuth: []
tags:
- name: Accounts
paths:
  /data/v2/accounts:
    get:
      summary: Lean Get Accounts
      operationId: getAccounts
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Accounts list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
  /data/v2/accounts/{account_id}/beneficiaries:
    get:
      summary: Lean Get Beneficiaries
      operationId: getBeneficiaries
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Beneficiaries
  /data/v2/accounts/{account_id}/direct-debits:
    get:
      summary: Lean Get Direct Debits
      operationId: getDirectDebits
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Direct debits
  /data/v2/accounts/{account_id}/scheduled-payments:
    get:
      summary: Lean Get Scheduled Payments
      operationId: getScheduledPayments
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Scheduled payments
  /data/v2/accounts/{account_id}/standing-orders:
    get:
      summary: Lean Get Standing Orders
      operationId: getStandingOrders
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Standing orders
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
    EntityIdHeader:
      name: entity_id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Lean entity identifier returned after a successful LinkSDK consent.
  schemas:
    Account:
      type: object
      properties:
        account_id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - CURRENT
          - SAVINGS
          - CREDIT_CARD
          - LOAN
        currency:
          type: string
        iban:
          type: string
        account_number:
          type: string
        bic:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
