openapi: 3.1.0
info:
  title: Lean Authentication Account on File Refreshes API
  description: 'OAuth 2.0 client-credentials token issuance for Lean APIs. Generates two classes of JWT access token: (1) scope=api for server-to-server backend calls, and (2) scope=customer.<customer_id> for the LinkSDK to act on behalf of an end-user. All tokens must be generated from a secure backend using credentials issued in the Lean Application Dashboard.

    '
  version: '1.0'
  contact:
    name: Lean Support
    url: https://help.leantech.me
  license:
    name: Lean Terms of Service
    url: https://www.leantech.me
servers:
- url: https://auth.leantech.me
  description: Production
- url: https://auth.sandbox.ae.leantech.me
  description: Sandbox - UAE
- url: https://auth.sandbox.sa.leantech.me
  description: Sandbox - KSA
tags:
- name: Refreshes
paths:
  /data/v2/refreshes:
    post:
      summary: Lean Trigger Manual Data Refresh
      operationId: triggerDataRefresh
      tags:
      - Refreshes
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '202':
          description: Refresh triggered
    get:
      summary: Lean Get Data Refreshes
      operationId: getDataRefreshes
      tags:
      - Refreshes
      parameters:
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Refreshes
  /data/v2/refreshes/{refresh_id}:
    get:
      summary: Lean Get Data Refresh Status
      operationId: getDataRefreshStatus
      tags:
      - Refreshes
      parameters:
      - name: refresh_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - $ref: '#/components/parameters/EntityIdHeader'
      responses:
        '200':
          description: Refresh status
components:
  parameters:
    EntityIdHeader:
      name: entity_id
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Lean entity identifier returned after a successful LinkSDK consent.
